$primary: #1544e0;
$secondary: #060f2f;

/* default colors */

$white: #fff;
$black: #000;

/* custom colors */

$grey: #a8a8a8;
$grey-1: #151515;
$grey-2: #575757;
$grey-3: #949494;
$grey-4: #cdcdcd;
$grey-5: #e2e6f4;
$grey-6: #eef2ff;
$grey-7: #8c8c8c;
$grey-8: #979797;
$grey-9: #fbfcff;

$green: #41d35e;
$green-1: #95eede;
$green-2: #e7fffb;

$orange: #ff4848;

$red-1: #9c0000;
$red-2: #ffe0e0;

$blue-1: #0d1c4f;
$blue-2: #101d4d;
